.contents-2mQqc9 > img ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
  content: none;
  color: rgba(215, 215, 215, 0.8);
  text-shadow: 0 0 2px currentcolor;
  border: 1px solid;
  border-radius: 10px;
  margin-left: 8px;
  background-color: rgba(255, 255, 255, 0.07);
  font-size: 12px;
  padding: 0 5px;
}

.contents-2mQqc9 > img[src*="809599842681749525"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {content: "Grim Reaper (Owner)";}
.contents-2mQqc9 > img[src*="367502380276776960"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {content: "Reaper Lord (Administrator)";}
.contents-2mQqc9 > img[src*="790562113135312936"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {content: "Grand Reaper";}
.contents-2mQqc9 > img[src*="272197917341777922"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {content: "Grand Reaper";}
.contents-2mQqc9 > img[src*="786861124355096576"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {content: "Great Reaper";}
.contents-2mQqc9 > img[src*="782425246522540093"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {content: "Great Reaper";}
.contents-2mQqc9 > img[src*="296827771903148032"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {content: "Reaper";}
.contents-2mQqc9 > img[src*="866848335460433950"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {content: "Reaper";}
.contents-2mQqc9 > img[src*="786747794479251517"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {content: "Reaper";}
.contents-2mQqc9 > img[src*="837884668354625546"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {content: "Reaper";}
.contents-2mQqc9 > img[src*="521729285984354346"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {content: "Reaper Follower";}
.contents-2mQqc9 > img[src*="843209451221942292"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {content: "Reaper Follower";}
